{% extends "base.html" %}
{% block content %}
<<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>
<style>
  .custom-button-container-all_px1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Centrer les boutons horizontalement */
  }
  .custom-button-all_px1 {
    background: linear-gradient(to bottom, #3498db, #782caa);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .vertical-buttons-container-all_px1 {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateX(10px);
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .vertical-buttons-container-all_px1.active {
    display: block;
  }
  .vertical-button-all_px1 {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    padding: 5px;
  }
</style>
<br>
<br>
<br>
<br>
<div class="container all_px1">
  <h2>PixelArt Paper</h2>
  <br>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><h5>PixelArt Paper</h5></div>
      <div class="collapsible-body">
        <div class="custom-button-container-all_px1">
          <a href="#lien_vers_edition_paper" class="custom-button-all_px1">Édition Paper<i class="material-icons right">arrow_drop_down</i></a>
          <div class="vertical-buttons-container-all_px1">
            <div class="vertical-button">Règlement général</div>
            <div class="vertical-button">Règlement Minecraft</div>
            <div class="vertical-button">Règlement Piskel</div>
            <div class="vertical-button">Règlement Paint</div>
          </div>
          <a href="#lien_vers_soumission" class="custom-button-all_px1">Soumettre son œuvre<i class="material-icons right">arrow_drop_down</i></a>
          <div class="vertical-buttons-container-all_px1">
            <div class="vertical-button">MC</div>
            <div class="vertical-button">Piskel</div>
            <div class="vertical-button">Paint</div>
          </div>
          <a href="#lien_vers_classement" class="custom-button-all_px1">Classement<i class="material-icons right">arrow_drop_down</i></a>
          <div class="vertical-buttons-container-all_px1">
            <div class="vertical-button">MC</div>
            <div class="vertical-button">Piskel</div>
            <div class="vertical-button">Paint</div>
          </div>
          <a href="{{ SITEURL }}/informations.html" class="custom-button-all_px1">Qui sommes-nous ?</a>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock content %}
