{% extends "base.html" %}
{% block content %}
  <div class="parallax-container">
        <div class="parallax"><img src="../images/home/labs/design.png" alt="designlab"></div>
      </div>
<div class="row">
        <div class="col s12 m12">
          <div class="card horizontal blue-grey darken-1">
            <div class="card-image">
                
            </div>
            <div class="card-stacked">
                <div class="card-content white-text">
                  <div class="row">
                      <div class="col s12">
                          <span class="card-title">DESIGNLAB : Un LABoratoire de DESIGN</span>
                          <p><b>Qu’est ce qu’un DESIGNLAB ?</b></p>
                          <p>De la contraction de Fabrication Laboratory, laboratoire de fabrication en français. Un DESIGNLAB est donc un lieu ouvert (Open) à tous et qui met à disposition des outils/machines afin de dessiner des objets, des personnages, des idées de toutes sortes en 2D (A plat) et 3D (En volume). Le design est donc une activité de création qui utilise comme support le dessin analogique (papier) et/ou numérique (Informatique).</p>
                        </div>
                      </div>
                     </div>
                </div>
            </div>
          </div>
                <div class="col s12 m12">
          <div class="card horizontal white darken-1">
            <div class="card-image">
                
            </div>
            <div class="card-stacked">
                <div class="card-content black-text">
                  <div class="row">
                      <div class="col s12">
                          <p><b>Quels projets au DESIGNLAB ?</b></p>
                          Les projets au DESIGNLAB sont nombreux et variés : création de personnage Mangas (dessin analogique (Affiche/Concours MakerInBreizh, ...) et numérique (Art Toys)), Réalisation de Cosplay, conception d’objet 3D à l’aide de tablettes graphiques (utilisation de l’i3D et l’i2D pour le CrepArt…), Badges etc...
                          <br>
                          <br>
                          <img src="../images/home/labs/thumbnail_designlab.png" id="thumbnail_fablab" alt="image illustrant le DESIGNLAB">
                      </div>
                      </div>
                     </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <br>
{% endblock content %}

