{% extends "base.html" %}
{% block content %}
  <div class="parallax-container">
        <div class="parallax"><img src="../images/home/labs/educlab.png" alt="fablab"></div>
      </div>
<div class="row">
        <div class="col s12 m12">
          <div class="card horizontal blue-grey darken-1">
            <div class="card-image">
                
            </div>
            <div class="card-stacked">
                <div class="card-content white-text">
                  <div class="row">
                      <div class="col s8">
                          <span class="card-title">EDUCLAB : Un LABoratoire pour apprendre à EDUquer </span>
                          <p><b>Qu’est ce qu’un EDUCLAB ?</b></p>
                          <p>De la contraction de Fabrication Laboratory, laboratoire d’Education en français. Un EDUCLAB est donc un lieu ouvert (Open) à tous et qui met à disposition des outils numériques ou non afin d’apprendre à enseigner, à transmettre des savoirs et des pratiques liés aux activités/projets de l’Association : La robotique, Mangas, Cosplay…</p>
                        </div>
                      </div>
                     </div>
                </div>
            </div>
          </div> 
        <div class="col s12 m12">
          <div class="card horizontal white darken-1">
            <div class="card-image">
                
            </div>
            <div class="card-stacked">
                <div class="card-content black-text">
                  <div class="row">
                      <div class="col s12">
                          <p><b>Quels projets à l'EDUCLAB ?</b></p>
                          Le but étant de pouvoir animer des ateliers à d’autres personnes et de les rendre pertinents et attractifs lors de la Fête de la Science, Le Festival Interceltique, MakerInBreizh...
                          <br>
                          <img src="../images/home/labs/thumbnail_educlab.png" id="thumbnail_fablab" alt="image illustrant le EDUCLAB">
                      </div>
                      </div>
                     </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <br>
    <br>
{% endblock content %}

