{% extends "base.html" %}
{% block content %}
  <div class="parallax-container">
        <div class="parallax"><img src="../images/home/labs/fablab.png" alt="fablab"></div>
      </div>
    <div class="row">
        <div class="col s12 m12">
          <div class="card horizontal blue-grey darken-1">
            <div class="card-image">
                
            </div>
            <div class="card-stacked">
                <div class="card-content white-text">
                  <div class="row">
                      <div class="col s8">
                          <span class="card-title">FABLAB : Un LABoratoire de FABrication</span>
                          <p><b>Qu’est ce qu’un FABLAB ?</b></p>
                          <p>De la contraction de Fabrication Laboratory, laboratoire de fabrication en français. Un FABLAB est donc un lieu ouvert (Open) a tous et qui met a disposition des machines afin de fabriquer des objets de toutes sortes en 2D (A plat) et 3D (En volume). L’objet étant un élément naturel non modifié par l’homme.</p>
                        </div>
                      <div class="col s4">
                          <img src="../images/home/labs/thumbnail_fablab.png" id="thumbnail_fablab" alt="image illustrant le fablab">
                          <center><b>Quelles machines au FABLAB ?</b></center>
                      </div>
                      </div>
                     </div>
                </div>
            </div>
          </div>
        <div class="col s12 m12">
        <b>Quelle config au FABLAB ?</b>
         <div class="video-container">
            <iframe width="632" height="354" src="https://www.youtube.com/embed/yiW6nYr7Y94" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div> 
                <div class="col s12 m12">
          <div class="card horizontal white darken-1">
            <div class="card-image">
                
            </div>
            <div class="card-stacked">
                <div class="card-content black-text">
                  <div class="row">
                      <div class="col s12">
                          <p><b>Quels projets au FABLAB ?</b></p>
                          <img src="../images/home/labs/thumbnail_fablab2.png" id="thumbnail_fablab" alt="image illustrant le fablab">
                      </div>
                      </div>
                     </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <br>
{% endblock content %}
