{% extends "base.html" %}
{% block content %}
  <div class="parallax-container">
        <div class="parallax"><img src="../images/home/labs/medialab.png" alt="fablab"></div>
      </div>
    <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Description</span>
              <p>A venir</p>
            </div>
          </div>
        </div>
        <!--
        <div class="col s12 m12">
         <div class="video-container">
            <iframe width="632" height="354" src="https://www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        -->
      </div>
      
    <br>
{% endblock content %}


