{% extends "index.html" %}
  {% block content %}
  <div class="container">
  <br>
  <br>
  <br>
  <h2>iMakeGame</h2>
  <div class="row">
      {% for article in articles if article.type == 'iRoboTechArt' %}
              <div class="col s12 m6 l4">
                  <section >
                    <div class="card medium">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../{{ article.image }}">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><a href="../{{article.url}}">{{ article.title }}</a><i class="material-icons right">more_vert</i></span>
                        <p><a href="#"><em>Écrit par <a href="../{{article.author.url }}">{{ article.author }}</a></em></a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ article.title }}<i class="material-icons right">close</i></span>
                        <p>{{ article.summary }}</p>
                          <a href="../{{article.url}}">Voir l'article</a>
                      </div>
                    </div>
                  </section>
              </div>
      {% endfor %}
  </div>
  </div>
{% endblock %}
