{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
  <div class="container">
      <div class="card">
        <div class="card-content">
            <img class="responsive-img" src="{{ SITEURL }}/theme/img/presentation/Presentation.png" width=260 height=30 alt="TitrePresentation"> 
            <img class="responsive-img" id="mise_a_jour" src="{{ SITEURL }}/theme/img/presentation/Mise_a_jour2.png" width=280 height=30 alt="Mise a jour !!!">
            <br>
            <hr>
            <left>  <img class="responsive-img" src="{{ SITEURL }}/theme/img/presentation/Quoi-R.png" width=100 height=30 alt="TitreQuoi"> <FONT color="red"> <STRONG> <font size="1"> <em> Buts, Objectifs ... </em> </font> </font></STRONG> </FONT>
                   
                <br><!--L’ Association <strong>P</strong>op<strong>A</strong>rt<strong>T</strong>ech a pour but l’<strong>EDUC</strong>ation, la <strong>PROD</strong>uction, l’<strong>EXPLO</strong>ration, la <strong>COM</strong>munication, l'<strong>INFO</strong>rmation et le <strong>PART</strong>age autour de projets qui concerne de près ou de la loin la robotique ou tout autre projet émanant et mixant : les <strong>ART</strong>s, les <strong>TECH</strong>nologies et les <strong>LANG</strong>ues régionales, nationales, européens et mondiales !
              -->
              Association <strong>POP</strong>ulaire <strong>ART</strong>istique et <strong>TECH</strong>nologique qui permet d’<strong>IMAG</strong>iner, de <strong>PROD</strong>uire, de <strong>PART</strong>ager, d'<strong>EXPLO</strong>rer et de <strong>SOUT</strong>enir des <strong>PROj</strong>ets <strong>ART</strong>istiques et <strong>TECH</strong>nologiques pour <strong>TOUS</strong> sans frontière : De la PopCulture pour tous ! 
            <br>
            <br>
            <img class="responsive-img" src="{{ SITEURL }}/theme/img/presentation/Qui-R.png" width=90 height=30 alt="TitreQui"> <FONT color="red"> <STRONG> <font size="1"> <em> Gestion, Participation ... </em> </font> </font></STRONG> </FONT>
            <br> L’ Association <strong>P</strong>op<strong>A</strong>rt<strong>T</strong>ech est une association principalement (mais pas que !) créée, développée, assurée par des jeunes depuis Novembre 2014. Les adultes (Parents, Enseignants, Professionnels, Associations, ...) guident, encadrent et soutiennent les jeunes. Mais d'une facon générale, l'Association <strong>P</strong>op<strong>A</strong>rt<strong>T</strong>ech est ouverte à <strong>TOUS</strong> ! sous réserve d’adhérer à la philosophie ...
            <br>
            <br>
            <img class="responsive-img" src="{{ SITEURL }}/theme/img/presentation/Comment-R.png" width=160 height=30 alt="TitreComment"> <FONT color="red"> <STRONG> <font size="1"> <em> Principe de Fonctionnement, la Philosophie ... </em> </font> </font></STRONG> </FONT>
            <br> Les <strong>PRO</strong>jets sont réalisés de manière <strong>ACT</strong>ive, <strong>COLL</strong>aborative, dans un état d’esprit de <strong>FAIR</strong>e, de <strong>PART</strong>age et du <strong>RESPECT</strong> de chacun. Le tout s’articulant et prenant appui sur les <strong>RÉF</strong>érent de chaque projets et sur les sept <strong>LAB</strong>oratoire<strong>s</strong> : <strong>EDUC</strong>LAB, <strong>FAB</strong>LAB, <strong>EXPLO</strong>LAB, <strong>DESIGN</strong>LAB, <strong>MEDIA</strong>LAB, <strong>TRANS</strong>LAB et <strong>LIVING</strong>LAB
            <br>
            <br>
            <img class="responsive-img" src="{{ SITEURL }}/theme/img/presentation/Quand-R.png" width=120 height=30 alt="TitreQuand"> <FONT color="red"> <STRONG> <font size="1"> <em> A vos Calendriers ! ... </em> </font> </font></STRONG></FONT>
            <br> L’ Association <strong>P</strong>op<strong>A</strong>rt<strong>T</strong>ech ouvre ses <strong>LABs</strong> :
                <br>
            <!-- -Les Lundis, Mardis, Jeudis et Vendredis à la pose déjeuner (12h15-13h45)
                <br>
                -Les Lundis, Mardis, Jeudis et Vendredis à la pose gouter (16h45-18h)
                <br>
            --> -Les samedis matin de 10h a 17h30
                <br>
                -Les deux premiers jours des vacances scolaires (Sauf Noel)
            <br>
            <br>
            <img class="responsive-img" src="{{ SITEURL }}/theme/img/presentation/Ou-R.png" width=80 height=30 alt="TitreOu"> <FONT color="red"> <STRONG> <font size="1"> <em> Deux Spots pour le moment ... </em> </font> </font></STRONG> </FONT><br>

                Spot 1 : <a href="https://goo.gl/maps/pTNdoGu82Mx4bVnj7" target="_blank">Collège Anita Conti</a> à Lorient
                <br>
                <!-- Spot 2 : <a href="https://goo.gl/maps/VPyUDRFLBwYVbi8i8" target="_blank">Collège de Kerentrech</a> à Lorient --> </left>

            <br>
            <br>
            <hr>
            <br>
            <div class="row">
                <div class="col s5 offset-s5">
                    <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action" onClick="javascript:document.location.href='contact.html'">Nous contacter
                        <i class="material-icons right">email</i>
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock content %}
