{% extends "base.html" %}
{% block content %}
<style>


  #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <iframe width="100%" height="850" src="https://framagenda.org/apps/calendar/embed/GSmoELLq5f63Co3m/multiMonthYear/now"></iframe>
</div>
   </div>
<br>
<br>
<br>

    </div>
</div>
{% endblock content %}
