{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
  <div class="container">
    <h2>Live</h2>
        <div class="row">
            <div class="col s9 m9">
                <iframe src="https://player.twitch.tv/?channel=irobotechart&parent=popartech.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
            </div>
            <div class="col s3 m3">
                <iframe src="https://www.twitch.tv/embed/irobotechart/chat?parent=popartech.com" frameborder="0" scrolling="no" height="500" width="350"></iframe>
            </div>
        </div>
    </div>
{% endblock content %}
