{% extends "base.html" %}
{% block content %}
<<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>
<br>
<br>
<br>
<br>
<div class="container">
  <h2>Minecraft</h2>
  <br>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><h5>Minecraft PaintBall</h5></div>
      <div class="collapsible-body"><span>A venir</span></div>
    </li>
  </ul>
</div>
{% endblock content %}
