{% extends "base.html" %}
{% block content %}
<<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>
<!-- <style>
  .custom-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .custom-button-avenir {
    background: linear-gradient(to bottom, #b0bdc5, #585858);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px; /* Ajout de la marge au bas des boutons */
  }
  .custom-button {
    background: linear-gradient(to bottom, #3498db, #782caa);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px; /* Ajout de la marge au bas des boutons */
  }
</style> -->
<br>
<br>
<br>
<br>

<div class="container pixelart.html" id="pixelart" >
  <h2>PixelArt</h2>
  <br>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><h5>Concours PixelArt</h5></div>
      <div class="collapsible-body">
        <div class="custom-button-container">
          <!--"{{ SITEURL }}/defis/pixelart/all_px1.html" lien a le remplacer par celui en cour aprés avoir finit les pages-->
          <a href="{{ SITEURL }}/defis/pixelart1/all_px1.html" class="custom-button" id="btn-pixelart" >All PixelArt 1er èdition</a>
          <!--<buton class="custom-button" id="btn-pixelart" >All PixelArt 1er èdition</buton>-->
          <a href="#A_venir" class="custom-button-avenir">A venir</a>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><h5>Tournois PixelArt</h5></div>
      <div class="collapsible-body"><!--<span>A venir</span>-->
        <div class="custom-button-container">
          <a href="#A_venir" class="custom-button-avenir">A venir</a>
        </div>
      </div>

    </li>
    <li>
      <div class="collapsible-header"><h5>PixelArt Animé</h5></div>
      <div class="collapsible-body"><!--<span>A venir</span>-->
        <div class="custom-button-container">
          <a href="#A_venir" class="custom-button-avenir">A venir</a>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="container all_px1" id="all_px1">
  <h2>PixelArt Paper</h2>
  <br>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><h5>PixelArt Paper</h5></div>
      <div class="collapsible-body">
        <div class="custom-button-container-all_px1">
          <a href="#lien_vers_edition_paper" class="custom-button-all_px1">Édition Paper<i class="material-icons right">arrow_drop_down</i></a>
          <div class="vertical-buttons-container-all_px1">
            <div class="vertical-button">Règlement général</div>
            <div class="vertical-button">Règlement Minecraft</div>
            <div class="vertical-button">Règlement Piskel</div>
            <div class="vertical-button">Règlement Paint</div>
          </div>
          <a href="#lien_vers_soumission" class="custom-button-all_px1">Soumettre son œuvre<i class="material-icons right">arrow_drop_down</i></a>
          <div class="vertical-buttons-container-all_px1">
            <div class="vertical-button">MC</div>
            <div class="vertical-button">Piskel</div>
            <div class="vertical-button">Paint</div>
          </div>
          <a href="#lien_vers_classement" class="custom-button-all_px1">Classement<i class="material-icons right">arrow_drop_down</i></a>
          <div class="vertical-buttons-container-all_px1">
            <div class="vertical-button">MC</div>
            <div class="vertical-button">Piskel</div>
            <div class="vertical-button">Paint</div>
          </div>
          <a href="{{ SITEURL }}/informations.html" class="custom-button-all_px1">Qui sommes-nous ?</a>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock content %}

